h1{
  text-align: left;
  margin-left: 50px;
}
section{
  margin-left: 200px;
}
.container{
  width: 200px;
  height: 70px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.kpis{
  width: 200px;
  height: 120px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: black;
  color: white;
  border-radius: 5px;
}
.kpis h4{
  margin-left: 5px;
  text-align: left;
}
.kpis .limit{
  width: 20px;
  height: 30px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
.kpis .info{
  font-size: 25px;
  margin-left: 15px;
}
.value{
  text-align: center;
  justify-content: top;
  font-size: 25px;
  margin-right: 40px;
}

.container h4{
  text-justify: center;
}
.btn{
  display: scroll;
  position: fixed;
  bottom:15px;
  right:20px;
}
