<section>
  <h1>Desarrollo</h1>
  <mat-grid-list cols="{{categories}}" rowHeight="100px">

    <mat-grid-tile (click)="clk(row.name)" *ngFor="let row of rows">
      <mat-drawer-container [style.background]="(row.name == active) ? 'gray' : 'white'" class="container">
        <h4>{{row.name}}</h4>
      </mat-drawer-container>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list (window:resize)="onResize($event)" cols="{{kps}}" rowHeight="150px">
    <mat-grid-tile *ngFor="let kp of kpis">
      <mat-drawer-container class="kpis" autosize>
        <h4>{{kp.name}}</h4>
        <div fxLayout fxLayoutAlign="center" class="info">
          <div fxFlex="15%" class="value">
            {{kp.value}}
          </div>
          <div fxFlex="35%" [style.border]="(kp.value > kp.limit) ? '2px solid red' : '2px solid green'" class="limit">
            {{kp.limit}}{{kp.unit}}
          </div>
        </div>
      </mat-drawer-container>
    </mat-grid-tile>
      
  </mat-grid-list>
  <button (click)="add()" mat-fab color="primary" class="btn">+</button>
</section>
