h1{
  text-align: left;
  margin-left: 50px;
}
section{
  margin-left: 200px;
}
.container{
  width: 200px;
  height: 70px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kpis{
  width: 200px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: #3f51b5;
  color: white;
  margin-left: 20px;
}
.kpis h4{
  margin-left: 5px;
  text-align: left;
}
.kpis .limit{
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 40px;
  text-align: center;
  justify-content: center;
}

.container h4{
  text-justify: center;
}